.sidebar{
    background-color: gainsboro;
    grid-area: sd;
}



.sidebar h5{
    color: rgb(27, 0, 182);
    padding: 15px;
}

.messages{
    padding: 15px;
   
}

.item a{
    text-decoration: none;
    text-decoration: none;
  color: #000000;
  border-bottom: 1px solid;
  border-bottom-color: rgba(15, 122, 252, 0.2);
}

.item :hover {
    text-decoration: none;
    color: #cf0000;
    border-bottom-color: rgba(208, 64, 0, 0.2);
}